
<!-- templates/profile.html -->

<style>
  .grid-container {
    display: grid;
    row-gap: 0.5rem;
  }

  .profile-pic {
    border-radius: 50%;
    height: 12rem;
  }
</style>

{% extends "nav.html" %}

{% block content %}

<div style="padding-left: 5rem;">
  <!-- Profile Pic -->

  <form action="/updateProfilePic" method="post" enctype="multipart/form-data">
    <label for="file-input">
      <img src="{{ profilePicURL }}" class="profile-pic">
    </label>
    <input hidden="true" type="file" id="file-input" name="file" accept=".png,.jpg" onchange="form.submit()">
  </form>

  <!-- Name and Email -->
  <h1>
    Welcome, {{ name }}!
  </h1>

  <h3>
    {{ email }}
  </h3>

  <!-- Password Change -->
  <!-- <h1 class="title">
    Change Password
  </h1>

  <form action="/updatePassword" method="post">
    <div class="grid-container">
      <div class="grid-item">
        <label for="curPassword">Current Password: </label>
        <input type="text" name="curPassword">
      </div>
    
      <div>
        <label for="newPassword">New Password: </label>
        <input type="text" name="newPassword">
      </div>
    
      <div>
        <label for="newPasswordAgain">New Password Again: </label>
        <input type="text" name="newPasswordAgain">
        <input type="submit" value="Update Password">
      </div>
    </div>
  </form> -->
</div>

{% endblock %}